.brendXY__animation-one{
    z-index: 2;
    position: absolute;
    top: 652px;
    left: 174px;
    animation: firstBubble 5.5s ease infinite;
}

@keyframes firstBubble {
    0%{
        width: 143px;
        height: 143px;
        top: 652px;
        left: 174px;
    }
    50%{ 
        width: 129px;
        height: 129px;
        top: 672px;
        left: 204px;
    }
    100%{
        width: 143px;
        height: 143px;
        top: 652px;
        left: 174px;
    }
}