.main__title{
    height: 352px;
    margin: 0px;
    margin-left: 70px;
    font-family: "Gilroy";
    font-weight: 200;
    font-style: normal;
    font-size: 109px;
    line-height: 117px;
    letter-spacing: 0.05em;
}