.brendXY__animation-five{
    z-index: 1;
    position: absolute;
    top: 160px;
    left: 66px;
    width: 34px;
    height: 35px;
    animation: fifthBubble 7.5s ease infinite;
}

@keyframes fifthBubble {
    0%{
        top: 160px;
        left: 66px;
    }
    50%{ 
        width: 41px;
        height: 42px;
        top: 182px;
        left: 26px;
    }
    100%{
        top: 160px;
        left: 66px;
    }
}