.text__layer-1{
    position: absolute;
    width: 1024px;
    height: 768px;
    background-image: url(../../../image/layer-2.png);
    background-size: cover;
    z-index: 0;
    transition: top 3s ease-in-out, left 3s ease-in-out;
    opacity: 0;
    top: 200px;
    left: 600px;
}