.text__message-wrapper{
    position: relative;
    z-index: 2;
    background-color: #FFFFFF;
    height: 445px;
    width: 775px;
    border-radius: 35px;
    overflow: scroll;
    margin-top: 44px;
    margin-left: 27px;
    box-shadow: 3px 4px 116.25px 8.75px rgba(157, 185, 198, 0.39);
}