.brendXY__animation-three{
    position: absolute;
    top: 400px;
    left: 0px;
    width: 34px;
    height: 34px;
    animation: thirdBubble 7s ease infinite;
    z-index: 2;
}

@keyframes thirdBubble {
    0%{
        top: 400px;
        left: 0px;
    }
    50%{
        width: 27px;
        height: 27px;
        top: 385px;
        left: 25px;
    }
    100%{
        top: 400px;
        left: 0px;
    }
}