.text__title{
    font-family: 'DINPro';
    font-weight: normal;
    font-size: normal;
    width: 250px;    
    margin: 0px;
    margin-top: 86px;
    margin-left: 68px;
    font-size: 27px;
    letter-spacing: 0.06em;
}